/* General */

body {
  margin: 0px;

  font-family: 'Oswald', sans-serif;
}

p {
  vertical-align: middle;
  margin: 0px;
}

/* Header */

#header {
  background-color: rgba(255, 255, 255, 0.95);
  border-bottom: 2px solid #ddd;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  
  position: fixed;
  top: 0;

  width: 100%;
  margin: 0;
}

#header div {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
  padding-left: 36px;
}

.home-icon {
  width: 200px;
  height: 50px;
  margin: 10px;
  display: inline-block;
  float: left;
}

.header-link {
  text-decoration: none;
  color: #898989;
}


/* Menu */ 

#header .menu {
  display: inline-block;
  float: right;
  list-style: none;

  height: 20px;
  padding: 15px;
  margin: 10px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 17px;
}

.menu a {
  color: #898989;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 10px;
  z-index: 9;
  border: 1px solid #ddd;
  background-color: rgba(255,255,255);
  display: none;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}

/* Body */
#body {
  background: linear-gradient(to bottom right, #fe8c7c, #ffdfef 50%, #ff8c66 75%, #6a1610);
  margin: 0px;
}

/* Feature */
.feature {
  height: 500px;
  padding: 50px;
}

.feature h2 {
  color: #000;
  font-size: 30;
  text-align: center;
}

/* Highlight */
.highlight img {
  width: 100%;
}

/* Carousel */

#carousel {
  height: 500px;
  padding: 50px;
}

.slider {
  position: relative;
  width: 100%;
  height: 480px;
  border-bottom: 1px solid #ddd;
}

.slide {
  background: transparent url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/flipboard/feature-gradient-transparent.png') center center no-repeat;
  background-size: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active-slide {
    display: block;
}

.slide-copy h1 {
  color: #363636;  
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin-top: 105px;
  margin-bottom: 0px;
}

.slide-copy h2 {
  color: #b7b7b7;
  
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 40px;
  margin: 5px;
}

.slide-copy p {
  color: #959595;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 1.15em;
  line-height: 1.75em;
  margin-bottom: 15px;
  margin-top: 16px;
}

.slide-img {
  text-align: right;
}

/* Slide feature */

.slide-feature {
  text-align: center;
  background-image: url('../images/lolworlds.png');
  height: 470px;
}

.slide-feature img {
  margin-top: 112px;
  margin-bottom: 28px;
}

.slide-feature a {
  display: block;
  color: #6fc5e0;
  
  font-family: "HelveticaNeueMdCn", Helvetica, sans-serif;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  
  font-size: 20px;
}

.slider-nav {
  text-align: center;
  margin-top: 10px;
}

.arrow-prev, .arrow-next {
  height: 20px;
  padding: 7px;
  margin: 16px;
  display: inline-block;
  text-decoration: none;
  color: #898989;
  font-weight: bold;
  font-size: 18px;
}

.slider-dots {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  vertical-align: middle;
  margin: 16px;
}

.slider-dots li {
  color: #bbbcbc;
  display: inline;
  font-size: 30px;
  margin-right: 5px;
}

.slider-dots li.active-dot {
  color: #363636;
}

/* Footer */

#footer {
  background: #252525;
  margin: 0px;
  padding: 36px;
}

#footer nav {
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding: 10px;
}
#footer ul {
  display: inline-block;
  float: right;
}

#footer div {
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}
#footer div p {
  color: #fff;
  float: left;
  line-height: 44px;
  margin: 0 0 0 10px;
  padding: 0;
}
#footer div ul {
  display: block;
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 320px;
}
#footer div ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
  width: 44px;
}
#footer div ul li a {
  background: url(../images/icons.png) no-repeat 0 0;
  display: block;
  height: 44px;
  margin: 0;
  padding: 0;
  text-indent: -99999px;
  width: 44px;
}
#footer div ul li #twitter {
  background-position: 0 0;
}
#footer div ul li #twitter:hover {
  background-position: -44px 0;
}
#footer div ul li #facebook {
  background-position: 0 -44px;
}
#footer div ul li #facebook:hover {
  background-position: -44px -44px;
}
#footer div ul li #youtube {
  background-position: 0 -88px;
}
#footer div ul li #youtube:hover {
  background-position: -44px -88px;
}
#footer div ul li #linkedin {
  background-position: 0 -132px;
}
#footer div ul li #linkedin:hover {
  background-position: -44px -132px;
}

#footer div ul li #twitch {
  background-position: 0 -176px;
}
#footer div ul li #twitch:hover {
  background-position: -44px -176px;
}

#footer a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

/* App links */

.get-app {
  list-style: none;
  padding-bottom: 9px;
  padding-left: 0px;
  padding-top: 9px;
}

.get-app li {
  float: left;
  margin-bottom: 5px;
  margin-right: 5px;
}

.get-app img {
  height: 40px;
}

.video {
  text-align: center;
}

.videoSection {
  margin-top: 50px;
}

.youtube {
  margin-bottom: 20px;
}

.content {
  margin-top: 50px;
}

.lightbox {

}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.7);
  text-align: center;
}

#lightbox img {
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -mox-box-shadow: 0 0 25px #111;
  max-width: 980px;
}

.sixteen-nine {
  margin: 0 auto;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.sixteen-nine iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 25px #111;
  -webkit-box-shadow: 0 0 25px #111;
  -mox-box-shadow: 0 0 25px #111;
}

.timeline {
  text-align:center;
}

#container {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  width: 75%;
  left: 12.5%;
  text-align: center;
}

#container p {
  text-align: right;
  color: #fff;
  margin-top: -20px;
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}